services:
  backend:
    build:
      context: ./backend/sentiment-api
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    # Certifique-se de que a aplicação Spring Boot depende do microserviço Python estar pronto
    depends_on:
      - microservice
    environment:
      # Exemplo: Se o seu Spring Boot precisar saber o host do microservice Python
      # Adapte esta variável de ambiente conforme a configuração da sua aplicação Java
      PYTHON_MICROSERVICE_URL: http://microservice:8000
      SPRING_PROFILES_ACTIVE: real

  microservice:
    build:
      context: .
      dockerfile: microservice/Dockerfile
    ports:
      - "8000:8000"
    # Opcional: Volumes para persistir dados ou carregar modelos, se necessário
    # volumes:
    #   - ./data-science/models:/app/models

